body {
    background-color: aliceblue;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.heading {
    font-family: 'Arial';
    font-size: 50px;
    margin: 25px auto 3px;
    size: 5px;
}

hr {
    border-top: 2px solid black;
    width: 20%;
    margin-bottom: 25px;
}

.main {
    width: 60vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


label {
    font-size: 20px;
}

.btn{
    margin-top: 0;
}


#money {
    margin-top: 3%;
    align-items: center;
}

#lady{
    width: 100%;
}

#gaga{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

#finalAmount {
    font-family: 'Arial';
    display: none;
    margin: 20px auto;
}

#finalAmount h2 {
    font-size: 35px;
}

.finalValue {
    font-family: 'Arial', serif;
}

@media (max-width: 768px) {
    hr {
        width: 60%;
    }
    .main {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 30px;
    }
    hr {
        width: 75%;
    }
    #finalAmount h2, .finalValue {
        font-size: 30px;
    }
}